<h1>A little bit about Word Count.</h1>

<h3><a href="{% url 'home' %}">Home</a></h3>

<p>If you enter some text in the Word Count program, once you click "Count!"
    the program will count the number of words in the text! Not only will it let you
    know how many words are in your text--it will let you know the number of times each
    word appears in the text. 
</p>

<p>Now, word count is great, but another primary purpose of this program is to teach myself 
    a little bit about: <br />
<ul>
    <li>Python 3</li>
    <li>Django</li>
    <li>URL Routing</li>
    <li>Submit and handle HTML form data</li>
</ul>
</p>

<p>Thanks for being a part of my learning experience!</p>